<a href="https://colab.research.google.com/github/wedatalab-lecture/FirstPython/blob/main/2_%EC%9E%90%EB%A3%8C%ED%98%95(4)_%EC%8B%A4%EC%8A%B5.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

#2.자료형 (4)

- 리스트
- 튜플
- 딕셔너리
- 집합


```
교재 : "비전공자를 위한 처음 만나는 파이썬"(권건우 외 7명 저)

p.78~87

Ⅲ.자료형
    5.자료형의 종류
        4)리스트
        5)튜플
        6)딕셔너리
        7)집합
```

##**리스트(List)**

- 여러 종류의 자료형을 혼합할 수 있는 자료 구조

- 리스트 안에 저장된 각 값을 요소(element)라고 한다.

- 순서가 있는 연속자료형으로, 인덱싱/슬라이싱을 통해 요소에 접근할 수 있다.

- 문자열, 튜플과 달리 인덱싱으로 요소값을 직접 수정할 수 있다.

In [ ]:
#list 생성

In [ ]:
#p78
numbers = [1,2,3,4,5]
type(numbers)

In [ ]:
len(numbers)  # 리스트 길이

In [ ]:
alpha = [] # 빈 리스트 생성
alpha = list('abcde') #문자열을 요소로 하는 리스트
alpha

In [ ]:
#list("iterable")

In [ ]:
# 리스트 안 여러 자료형 담기
b = [1,2,3]
b

In [ ]:
c = [1, 3, "banana", "melon"]
c

**리스트 인덱싱/슬라이싱**

In [ ]:
#p79
numbers = [1,2,3,4,5]
numbers[0]

In [ ]:
# 마지막 요소 가져오기

In [ ]:
# 슬라이싱

In [ ]:
# 처음부터 끝까지

In [ ]:
# 홀수만 가져오기

In [ ]:
# p79
# item assingment
numbers[0] = 7
numbers

**리스트 메서드**

* .append()
* .insert()
* .remove()
* .reverse()
* .sort()

In [ ]:
# p79
# 데이터 추가
n = [0,1,2,3,4,5]
n.append(6)
print(n)

In [ ]:
T = []
T.append(10)
T

In [ ]:
T.append(20)
print(T)

In [ ]:
# 데이터 삽입
n = [0,1,2,3,4,5]
n.insert(3,6)  #insert(index, 넣을 값)
print(n)

In [ ]:
# 3번째 자리에 "hi"

In [ ]:
#p80
#요소 삭제
n = [1,2,3,4,5]
n.remove(3)
print(n)

In [ ]:
n = [1,2,3,4,5]
n

In [ ]:
#해당 인덱스 요소 삭제
n.pop(2)
print(n)

In [ ]:
n

In [ ]:
#마지막 요소 삭제
n.pop()
print(n)

In [ ]:
#del 명령어

In [ ]:
#모든 요소 삭제
n.clear()
print(n)

In [ ]:
#요소 순서 뒤집기
n = [0,1,2,3,4,5]
n.reverse()
print(n)

In [ ]:
n = [2,1,5,3]
n

In [ ]:
#요소 값 정렬 : 기본 오름차순
n.sort()
print(n)

In [ ]:
# 내림차순으로 정렬하려면?

In [ ]:
a = list('acbde')
a

In [ ]:
#reverse

In [ ]:
#sort

In [ ]:
#내림차순 sort

In [ ]:
#이외의 메소드
#dir() : 객체가 가지고 있는 변수와 메서드를 보여준다

##**튜플(Tuple)**
- 한번 저장되면 안의 요소를 변경,추가,삭제할 수 없다.
- 리스트는 대괄호 [ ] 사용, 튜플은 소괄호( )를 사용한다.

In [ ]:
#tuple 생성

In [ ]:
# type, len, 인덱싱/슬라이싱

In [ ]:
#p81
names =("Kim", "Lee", "Dong")
names

In [ ]:
type(names)

In [ ]:
len(names)

In [ ]:
names[0] = "bts"

**데이터 수정하기**

In [ ]:
#p82
names = ("Kim", "Lee", "Dong")
# 리스트로 변환

names

In [ ]:
# 요소 변경

In [ ]:
# 튜플로 다시 변환

**중복 제거하기**

In [ ]:
a = ("Kim","Lee","Choi","Lee")
a

In [ ]:
a = set(a) # 집합으로 변환
a

In [ ]:
a = tuple(a) # 튜플로 다시 변환
a

**튜플 합치기와 일부 가져오기**

In [ ]:

first_tuple = (1, 2)
second_tuple = (3, 4)
third_tuple = first_tuple + second_tuple
third_tuple

In [ ]:
third_tuple[0]

In [ ]:
third_tuple[1:3]

**하나의 숫자 값으로 이루어진 튜플**

In [ ]:
# 빈 튜플

In [ ]:
# tuple(iterable)

In [ ]:
# 숫자 하나만 있는 튜플

In [ ]:
#p83
num = (5,)
num

In [ ]:
type(num)

**튜플 메서드**
* .count()
* .index()

In [ ]:
# 튜플 메서드 확인

In [ ]:
a = (1,2,2,2,2,2,3,4)
a.count(2) # 2의 개수

In [ ]:
# 5의 개수

In [ ]:
# 해당 요소의 인덱스
names = ("Kim", "Lee", "Dong")
names.index("Dong")

In [ ]:
names = ("Kim","Kim", "Lee", "Dong")
names.index("Kim")

##**딕셔너리(Dictionary)**
- Key와 Value의 쌍으로 이루어진 자료형.
- Key값을 통해서 Value를 찾는 방식으로 동작한다.
- 리스트와 달리 순서가 없다.
- key값은 변경될 수 없다.

In [ ]:
# dictionary 생성

In [ ]:
# dict()

In [ ]:
#p84
d1 = { "Tom":30, "Jerry":22,
       "Bill":45, "Harry":15}
d1

In [ ]:
type(d1)

In [ ]:
len(d1)

**value 가져오기**

In [ ]:
#p84
d = {"a":10, "b":20, "c":30}
d["a"]

In [ ]:
# 같은 key 값
d = {"a":10, "b":20, "c":30, "c":40}
d

In [ ]:
# 같은 value 값
d = {"a":10, "b":20, "c":30, "d":30}
d

In [ ]:
# key, value가 모두 같을 때
d = {"a":10, "b":20, "c":30, "c":30}
d

**딕셔너리 데이터 추가**

In [ ]:
#p85
#데이터 추가
d2 = {}
d2["banana"] = 1000
d2["apple"] = 2000
d2["carrot"] = 5000
d2

In [ ]:
# "kiwi"는 3000원

In [ ]:
#데이터 수정 : "banana"를 3000원으로 수정

#Key가 이미 있으면 Value만 수정된다.
d2

**딕셔너리 메서드**

In [ ]:
# 딕셔너리 메서드 확인

In [ ]:
# key 값
d = {"a":10, "b":20, "c":30}
d.keys()

In [ ]:
# 반환값 type 확인

In [ ]:
# iterable

In [ ]:
# value 값
d.values()

In [ ]:
# (key, value)
d.items()

In [ ]:
# update, pop, clear ...

##**집합(Set)**

- 중복과 순서가 없다.
- 집합은 {}를 사용하는데, 빈집합은 set()이란 키워드를 사용해서 만든다.

In [ ]:
# 집합 생성

In [ ]:
# 빈집합 생성

In [ ]:
# type

In [ ]:
#p86
set_1={1,2,3,4}
type(set_1)

In [ ]:
set_2 = set()  #빈 집합을 정의
type(set_2)

In [ ]:
# set(iterables)
set([1,2,2,3,4,5,3])

**집합 메서드**

In [ ]:
# 집합 메서드 확인

In [ ]:
#p87
#데이터 추가
set_1 = {1,2,3}
set_1.add(7)
set_1

In [ ]:
# 6을 추가하기

In [ ]:
# 데이터 삭제
set_1.remove(3)
set_1

**집합 연산**

In [ ]:
# 교집합
set_1 = {1,2,3}
set_2 = {3,4,5}

In [ ]:
# & 연산자
set_1 & set_2

In [ ]:
# intersection 메서드
set_1.intersection(set_2)

In [ ]:
set_2.intersection(set_1)

In [ ]:
# 합집합 : | 연산자
set_1 | set_2

In [ ]:
# union 메서드
set_2.union(set_1)

In [ ]:
# 차집합 : - 연산자
set_2 - set_1

In [ ]:
# difference 메서드
set_2.difference(set_1)

In [ ]:
set_1.difference(set_2)

##**추가 자료**

**mutable vs immutables**

* mutable : 가변의, 수정 가능한 객체

* immutable : 불변의, 수정 불가능한 객체


```
* immutable : int, float, str, tuple

* mutable : list, dict, set
```

In [ ]:
# int

In [ ]:
# list

**python의 문자열 인코딩**

* 유니코드(unicode) : 세계 여러나라의 문자열을 표현할 수 있도록 한 표준 문자세트

* 파이썬 3 버전부터는 모두 유니코드 문자열

* 인코딩(encoding) : 부호화(코드화), 우리가 사용하는 문자나 기호들을 어떠한 규칙에 따라 컴퓨터의 0,1 형태(bytes)로 변환하는 것.

* 디코딩(decoding) : 복호화, 인코딩된 데이터를 다시 우리가 사용하는 데이터의 형태로 변환하는 것.

```
# 인코딩 방식

UTF-8 : 유니코드 문자열을 위한 가변 길이 인코딩 방식(1~4 bytes)
EUC-KR: 한글을 위한 인코딩 방식(2 bytes)
ASCII : 영어 알파벳을 위한 인코딩 방식(7 bits)

```

In [ ]:
string = "abc"
type(string)

In [ ]:
# 해당 문자의 유니코드 숫자값
ord("a")

In [ ]:
# 유니코드 숫자값에 해당하는 문자
chr(97)

In [ ]:
encoded_string = string.encode("utf-8")
print(encoded_string)

In [ ]:
type(encoded_string)

In [ ]:
decoded_string = encoded_string.decode("utf-8")
print(decoded_string)

In [ ]:
type(decoded_string)

In [ ]:
# 다른 디코딩 방식으로 하면?

In [ ]:
#인코딩 기본값
import sys
sys.stdin.encoding

* sys : 파이썬 인터프리터 제어 모듈
* https://docs.python.org/ko/3/library/sys.html

In [ ]:
data = "안녕하세요"

In [ ]:
# file I/O
with open('python.txt', mode="w") as f:
    f.write(data)

In [ ]:
with open('python.txt', mode="r") as f:
    data = f.read()
    print(data)